  <div class="section-container{% if lightGrayBg != false %} light-gray-bg{% endif %}">
    <div class="about-content">
      <p>To review an in-depth selection of my work or to discuss working together, please get in touch:</p><br><br>
      <p><a href="mailto:phyllistee.contentconsulting@gmail.com">phyllistee.contentconsulting@gmail.com</a></p>
    </div>
    <div class="footer">
      &#169; 2024 Phyllis Tee |All Rights Reserved
    </div>
  </div>
