  <div class="nav-container">
    <div class="left">
      <a class="no-decoration" href="{% if fullNav %}/{% else %}index.html{% endif %}">Phyllis Tee</a>
    </div>
{% if fullNav %}
    <div class="right">
      <a class="no-decoration" href="#about">About</a>
    </div>
    <div class="right"><a href="resume/phyllistee_resume.pdf" target="_blank">My Résumé</a></div>
{% endif %}
  </div><!--nav-->
