  <div class="section-container {{ gridClass }}">
{% for item in gridItems %}
    <a href="{{ item.href }}">
      <div class="project">
        <div class="project-image {{ item.imageClass }}">
          <img src="Images/index/project.svg">
        </div>
        <div class="project-title">
          <h5>{{ item.title }}</h5>
        </div>
      </div><!--project-->
    </a>
{% endfor %}
  </div>
